<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/bundles/CSS")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/custom")

    @RenderSection("scripts", required: false)
    <link rel="stylesheet" type="text/css" media="screen" href="/content/combined-global.714ead229b330434161907d933a1e313.min.css" />
    <meta name="viewport" content="width=device-width" />
    <script type="text/javascript" src="/js/combined-global.f2b3e8e68827c2321d0817d1964ac634.min.js"></script>
    <script type="text/javascript" src="/js/combined-renegade.b890b3d25a8fbf419523248ae57d7ff0.min.js"></script>
    <style>
        
        .footer {
            height: 40px;
            margin-top: -40px;
        }

        .qtyKeys, .unitPriceKeys {
            height: 60px;
            width: 80px;
        }

        .qtyRtnKey, .unitPriceRtnKey {
            height: 184px;
            width: 80px;
        }

        .modal {
            left:0;
            top:-300px;
        }

        .modal-body{
            position:relative;
        }
    </style>
</head>
<body>
    <div id="wrap">
        <!-- Fixed navbar -->
        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">GETV POS</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul id="mainNavigation" class="nav navbar-nav">
                        <li><a href="#dashboardPanel" data-toggle="tab">Dashboard</a></li>
                        <li class="active"><a href="#sellPanel" data-toggle="tab">Sell</a></li>
                        <li><a href="#productPanel" data-toggle="tab">Products</a></li>
                        <li><a href="#customerPanel" data-toggle="tab">Customers</a></li>
                        <li><a href="#helpModal" data-toggle="modal">Help</a></li>
                        <li class="pull-right">
                            <div id="login">
                                <ul class="nav navbar-nav">
                                    <li><a href="#" onclick="processLogin()">Login</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Settings <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Set Warehouse</a></li>
                                <li><a href="#">Product Controls</a></li>
                                <li class="divider"></li>
                                <li class="dropdown-header">Admin</li>
                                <li><a href="/Admin/QuickKeys">Quick Key Editor</a></li>
                                <li><a href="#">Offline Setup</a></li>
                                <li><a href="#">Batch Register</a></li>
                            </ul>
                        </li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>
        <!-- Begin page content -->
        @RenderBody()
    </div>
        <div class="container">           
            <hr />
            <footer>
                <p class="text-muted">&copy; @DateTime.Now.Year - GETV</p>
            </footer>
        </div>



</body>
</html>
